/*
  This is a global CSS file for all components.
  It is imported in App.tsx
*/

@font-palette-values --header-palette-1 {
  font-family: 'Nabla';
  override-colors:
      1 #28866b,
      2 #39965d,
      3 #145641,
      4 #489D76,
      5 #8AFFB1,
      6 #1effbb,
      7 #00A0E1,
      8 #1EE1FF,
      9 #ffffff;
}

@font-palette-values --header-palette-2 {
  font-family: 'Nabla';
  override-colors:
      1 #28866b,
      2 #39965d,
      3 #145641,
      4 #489D76,
      5 #8AFFB1,
      6 #00A0E1,
      7 #1effbb,
      8 #1EE1FF,
      9 #ffffff;
}

.divider {
  display: inline-block;
  max-width: 500px;
  width: 100%;
  height: 0.1em;
  border-radius: 0.25em;
  background-color: var(--cyan-600);
  margin: 0 0.5em;
}

/* ################################# */
/* ######  LANDING PAGE CSS  ###### */
/* ############################### */
.landing-page {
  scroll-snap-type: y mandatory;

  overflow-y: auto;
  overflow-x: hidden;

  height: 100vh;
  -webkit-overflow-scrolling: touch;
}

.landing-page__section {
  scroll-snap-align: start;
}
/* --------------------- */
/* ---- HEADER CSS ---- */
/* ------------------- */
.header {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: calc(1.5rem + 4vw);
  line-height: 1.1;
  font-family: 'Nabla', cursive;
  margin: 1rem 0;
  text-shadow: 0 0 0.22rem var(--cyan-500);
}

.header__title__first {
  display: inline-flex;
  font-palette: --header-palette-1;
}

.header__title__second {
  font-palette: --header-palette-2;
}

.header__resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: 600;
  margin: 0;
}

.header__resume-main {
  margin-top: 0.8rem;
  font-size: calc(0.8rem + 2vw);
  color: var(--teal-400);
  text-shadow: 0 0 0.0rem var(--cyan-500);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.header__resume-main:hover {
  text-shadow: 0 0 0.15rem var(--cyan-300);
}

.header__resume-sub {
  font-size: 0.8em;
}

.header__resume-tech {
  display: block;
  font-size: 0.7em;
  color: white;
}

.header__resume-scroll {
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: calc(0.8rem + 1vw);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__resume-scroll-sub-1 {
  color: var(--emerald-300);
}

.header__resume-scroll-sub-2 {
  animation: shadow-pulse 4s cubic-bezier(0.25, 0.46, 0.45, 0.94) infinite;
}

@keyframes shadow-pulse {
  0% {
    text-shadow: 0 0 0.0rem var(--cyan-500);
  }
  50% {
    text-shadow: 0 0 0.30rem var(--cyan-500);
  }
  100% {
    text-shadow: 0 0 0.0rem var(--cyan-500);
  }
}
/* --------------------- */


/* ---------------------------------- */
/* ---- Letter Animation UP CSS ---- */
/* -------------------------------- */
.letter-up__box {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 0.7em;
  height: 1em;
}

.letter-up__word {
  position: absolute;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transform: rotate(0deg) translate(0, 0);
  margin: 0;
}

.letter-up__word--rotate-even {
  transform: rotate(-10deg) translate(0, -1.2rem);
}

.letter-up__word--rotate-odd {
  transform: rotate(10deg) translate(0, -1.2rem);
}
/* --------------------- */


/* ----------------------------------- */
/* ---- Fade In UP Animation CSS ---- */
/* --------------------------------- */
.fade-in-up-animation {
  display: inline-block;
  opacity: 0;
  transform: translateY(2.5rem);
  transition: opacity 1.3s ease-in-out, transform 1s ease-in-out;
}

.fade-in-up-animation--active {
  opacity: 1;
  transform: translateY(0);
}

/* --------------------- */


/* -------------------------------- */
/* ---- Fade In Animation CSS ---- */
/* ------------------------------ */
.fade-in-animation {
  display: inline-block;
  opacity: 0;
  transition: opacity 1.3s ease-in-out;
}

.fade-in-animation--active {
  opacity: 1;
}


/* --------------------------------- */
/* ---- Bouncing Animation CSS ---- */
/* ------------------------------- */
.bouncing-animation {
  display: inline-block;
  animation: bouncing 1.5s ease-in-out infinite;
}

@keyframes bouncing {
  0% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-0.5rem);
  }
  100% {
      transform: translateY(0);
  }
}

/* --------------------- */


/* ----------------------- */
/* ---- MY STACK CSS ---- */
/* --------------------- */

.my-stack {
  width: 100%;
  min-height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-stack__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: start;
  place-content: center;

  @media (min-width: 768px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.my-stack__title {
  font-size: calc(1.5rem + 2vw);
  margin: 0;
}

.my-stack__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

.my-stack__tech__item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0.5rem;
}

.my-stack__tech__item-logo {
  width: calc(1.5rem + 2vw);
  margin: 0.5rem 0.5rem 0.5rem 0;
}

.my-stack__tech__item-name {
  font-size: 1.2em;
  font-weight: 500;
}
