/*
    This is a global CSS file for all components.
    It is imported in App.js
*/

@font-palette-values --palette-2 {
    font-family: 'Nabla';
    override-colors:
        1 #41ECB9,
        2 #75FFAA,
        3 #3C6EFF,
        4 #489D76,
        5 #8AFFB1,
        6 #1EE1FF,
        7 #00A0E1,
        8 #1EE1FF,
        9 #ffffff;
}

/* --------------------- */
/* ---- HEADER CSS ---- */
/* ------------------- */
.header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Nabla', cursive;
}

.header__title {
    font-size: 3.2em;
    line-height: 1.1;
}

.header__title__first , .header__title__second {
    font-palette: --palette-2;
}
/* --------------------- */


/* ---------------------------------- */
/* ---- Letter Animation UP CSS ---- */
/* -------------------------------- */
.letter-up__box {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 0.7em;
    height: 1em;
    cursor: url("/src/assets/Hands-So-So-icon.png"), auto;
}

.letter-up__word {
    position: absolute;
    display: inline-block;
    font-weight: 500;
    transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    transform: rotate(0deg) translate(0, 0);
    margin: 0;
}

.letter-up__word--rotate-even {
    transform: rotate(-10deg) translate(0, -1.2rem);
}

.letter-up__word--rotate-odd {
    transform: rotate(10deg) translate(0, -1.2rem);
}
/* --------------------- */
