.text-primary {
  color: var(--color-primary);
}

.text-secondary {
  color: var(--color-secondary);
}

.text-tertiary {
  color: var(--color-tertiary);
}

.text-white {
  color: #ffffff;
}

.text-black {
  color: #000000;
}

.bg-primary {
  background-color: var(--color-primary);
}

.bg-secondary {
  background-color: var(--color-secondary);
}

.bg-tertiary {
  background-color: var(--color-tertiary);
}

.bg-dark {
  background-color: #242424;
}

.bg-stripes {
  background-image: repeating-linear-gradient(
    45deg,
    #242424,
    #242424 10px,
    var(--cyan-600) 10px,
    var(--cyan-600) 14px
  );
}
